/*@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);*/


/*色跳選擇：#616163-#44ffd2-#87f6ff-#daf5ff-#ffbfa0*/


/*基礎設定*/

* {
    /*box-sizing: 'border-box';*/
    font-family: 'Noto Sans Tc', serif, 'Sans Serif';
    /*border: 1px solid black;*/
}


/*reset 基本tag*/


/*h1,
h2,
h3,
h4,
h5,
h6,
p,
body,
{
    margin: 0;
    padding: 0;
}
*/


/*h1標定*/

h1 {
    font-size: 25px;
    color: white;
    text-align: left;
    margin: 20px, 300px, 0, 0;
}


/*給導覽列的樣式*/

nav {
    background-color: #616163;
    width: 100%;
    height: 50px;
    padding: 0, auto;
}

nav div {
    width: 100%;
    height: 50px;
    padding: 200px, 20px, 200px, 20px;
}

nav div ul {
    height: 50px;
    margin: auto;
}

nav div ul li {
    width: 200px;
    height: 40px;
    padding: 5px;
    margin: 10px;
    float: left;
    text-align: center;
}

header {
    background-image: url("https://unsplash.it/4951/3301?image=1025");
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    width: 100%;
}

.pic {
    width: 300px;
    height: 300px;
    padding: 25px;
    margin: 25px;
    float: left;
}

p {
    letter-spacing: 1px;
    word-spacing: 10px;
    line-height: 22px;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}


/*連結標籤設定開始*/

a:link {
    text-decoration: none;
    color: white;
}

a:visited {
    text-decoration: none;
    color: white;
}

a:hover {
    color: red;
}

a:active {
    text-decoration: underline;
}


/*連結標籤設定結束*/