/*@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);*/


/*色跳選擇：#616163-#44ffd2-#87f6ff-#daf5ff-#ffbfa0*/


/*基礎設定(reset 基本tag*/

* {
    box-sizing: border-box;
    font-family: 'Noto Sans Tc', serif, 'Sans Serif';
    /*border: 1px solid black;*/
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
body,
div,
img,
html,
footer {
    margin: 0;
    padding: 0;
    border: 0;
}


/*基礎設定(reset 基本tag*結尾/

/*版頭*/

header {
    background-image: url("https://unsplash.it/4951/3301?image=998");
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    width: 100%;
}


/*引言標定*/

.type {
    height: 450px;
}

h1 {
    font-size: 25px;
    color: white;
    background-color: rgba(0, 0, 0, 0.54);
    text-align: center;
    width: 100%;
    padding: 25px 25px 5px 25px;
    margin: 0 0 0 40px;
}

.introduction {
    width: 100%;
    font-size: 16px;
    color: white;
    background-color: rgba(0, 0, 0, 0.54);
    text-align: center;
    padding: 5px 25px 25px 25px;
    margin: 0 0 0 40px;
}


/*引言結尾*/


/*給導覽列的樣式*/

nav {
    width: 100%;
    height: 50px;
}

nav div {
    background-color: #616163;
    width: 100%;
    height: 50px;
    position: fixed;
}

nav div ul li {
    float: left;
    list-style-type: none;
}

nav div ul li a {
    width: 100px;
    height: 35px;
    padding: 15px 5px 0 5px;
    margin: -15px 0 0 0;
    display: block;
    text-align: center;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    nav div ul li {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    nav div ul li {
        display: none;
    }
}


/*版頭*/


/*內容區塊開頭*/

.container {
    /*margin: 25PX;*/
}

.about_me {
    width: 100%;
    height: 250px;
}

.project {
    background-color: #daf5ff;
}

.info {
    text-align: center;
}

.info img {
    border-radius: 50%;
    max-width: 75%;
}

.tool {
    text-align: center;
}

.tool img {
    border-radius: 25%;
    max-width: 80%;
}

h3 {
    font-size: 25pt;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}


/*h3:after {
    height: 100%;
    content: "";
    display: inline-block;
    position: relative;
    vertical-align: middle;
}*/

.progress {
    width: 250px;
    height: 30px;
}


/*內容區塊結尾*/


/*連結標籤設定開始*/

a:link {
    text-decoration: none;
    color: white;
}

a:visited {
    text-decoration: none;
    color: white;
}

a:hover {
    color: red;
}

a:active {
    text-decoration: underline;
}

.readmore {
    text-align: center;
}

.readmore a {
    text-decoration: none;
    padding: 5px;
    font-size: 12pt;
    display: block;
    background-color: rgba(0, 0, 0, 0.54);
    width: 150px;
    margin-left: calc(100%* 8/12);
    margin-top: 15px;
}


/*連結標籤設定結束*/

.content {
    margin: 0 auto;
    padding: 0 auto;
    width: 1400px;
    height: 800px;
}

.clearfix {
    clear: both;
}

footer {
    width: 100%;
    height: 75px;
    background-color: wheat;
    clear: left;
    text-align: center;
    display: block;
}

footer p {
    font-size: 15px;
    color: black;
}


/*共通性設定開頭*/

p {
    letter-spacing: 1px;
    word-spacing: 10px;
    line-height: 22px;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}

.v-middle {
    display: flex;
    align-items: center;
    justify-content: center;
}


/*共通性設定結尾*/