@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);

/*基礎設定*/

* {
    box-sizing: 'border-box';
    font-family: 'Noto Sans Tc', serif, 'Sans Serif';
}


/*reset 基本tag*/

h1,
h2,
h3,
h4,
h5,
h6,
p,
body,
{
    margin: 0;
    padding: 0;
}


/*h1標定*/

h1 {
    font-size: 25px;
    color: red;
}

div {
    padding: 15px, 15px, 15px, 15px;
}